.pa1 {
  width: 100%;
  height: 100%;
}
.pa1_container {
  max-width: var(--maxWidth);
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.tittle {
    font-size: 32px;
    font-weight: 500;
}
.addPage {
  padding: 100px 0 40px 0;
  transition: 0.5s;
}
.addForm {
  margin: 40px auto 0 auto;
  width: 500px;
  height: 520px;
  border: 2px solid var(--grey);
  border-radius: 20px;
}
.addForm_container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.addNewAlbumBtn {
  margin: 0 auto;
  height: 50px;
  background-color: inherit;
  border: 2px solid var(--green);
  border-radius: 10px;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  color: var(--green);
  transition: 0.5s;
}
.addNewAlbumBtn:hover {
  background-color: var(--green);
  color: var(--white);
  width: 80%;
}
.addNewAlbumBtn:active {
  filter: brightness(80%);
  transition: 0s;
}
.addFormInput {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 2px solid var(--grey);
  border-radius: 10px;
  padding-left: 10px;
  margin: 20px 0;
}
.addFormLabel {
  font-size: 24px;
  text-align: left;
}
.formLang {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formLang label {
  font-size: 18px;
  margin: 0 25px 0 5px;
}

/*----media---------------------------------*/

@media (max-width: 768px) {
    .addForm {
        width: 360px;
    }
}

@media (max-width: 472px) {
    .addForm {
        margin: 40px auto 0 auto;
        width: 280px;
        height: 460px;
        border: 2px solid var(--grey);
        border-radius: 20px;
    }
}

/*----nightTheme---------------------------------*/
.nightTheme {
    color: var(--white);
    background-color: var(--secondBlack);
}

/*----nightTheme--add-------------------------------*/
.nightTheme .addNewAlbumBtn {
    border: 2px solid var(--red);
    color: var(--red);
}
.nightTheme .addNewAlbumBtn:hover {
    background-color: var(--red);
    color: var(--white);
    width: 80%;
}

/*----nightTheme--inputs-------------------------------*/
.nightTheme input:-webkit-autofill,
.nightTheme input:-webkit-autofill:hover,
.nightTheme input:-webkit-autofill:focus {
    border: 1px solid inherit;
    -webkit-text-fill-color: var(--white);
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
}