.reviewsPage {
  padding: 100px 0 40px 0;
  transition: 0.5s;
}
.tittle {
  font-size: 32px;
  font-weight: 500;
}
.leftTxt {
  text-align: left;
}
.pa1 {
  width: 100%;
  height: 100%;
}
.pa1_container {
  height: 100%;
  max-width: var(--maxWidth);
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*----swiper---------------------------------*/

.swiper {
  width: 100%;
}
.mySwiper {
  padding: 60px 0 0 0;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 460px;
  width: 383px;
  border: 1px solid var(--grey);
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
}
.review:hover {
  border: 1px solid var(--red);
  transition: 0.5s;
}
.review_image {
  user-select: none;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid var(--grey);
}
.review:hover .review_image {
  border: 1px solid var(--red);
  transition: 0.5s;
}
.review_autor {
  margin: 20px 0;
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
}
.review_message {
  height: 60px;
  font-weight: 400;
  color: var(--secondGrey);
  text-align: left;
  width: 100%;
}

/*----media---------------------------------*/

@media (max-width: 1024px) {
  .mySwiper {
    padding: 40px 0 0 0;
  }
  .review {
    height: 300px;
    width: 400px;
  }
  .review_image {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--grey);
  }
  .review_autor {
    margin: 10px 0;
  }
}

@media (max-width: 375px) {
  .review {
    width: 283px;
  }
}

/*----nightTheme---------------------------------*/
.nightTheme {
  color: var(--white);
  background-color: var(--secondBlack);
}
